#my-element {
  margin: 10px;
  background: #ddd;

  a.link {
    color: blue;
    cursor: pointer;

    :hover {
      color: #ff0000;
    }

    :after {
      display: inline-block;
      content: "\00a0\00BB";
    }

    :nth-child(odd) {
      color: orange;
    }
  }
}

#parent {
  .first-child {
    .some-box {
      .child-element {
        form {
          input[type="text"] {
            color: "red";
          }
        }
      }
    }
  }
}
